// Colors
$light-beige: #edece4;
$regular-beige: #cbc6b9;
$dark-beige: #988c77;
$grey: #2a2426;
$green: #988c77;

// Fonts
$font-primary: 'PT Mono', monospace;
$font-secondary: 'Aref Ruqaa', serif;

// Mixin
@function em($pixel, $context: 16) {
  @return $pixel / $context + 'em';
}

@mixin type-primary($size) {
  font-family: $font-primary;
  @if $size == 18 {
    font-size: em(18);
    line-height: em(30, 18);
  }
}

@mixin type-secondary($size) {
  font-family: $font-secondary;
  @if $size == 18 {
    font-size: em(18);
    line-height: em(30, 18);
  } @else if $size == 24 {
    font-size: em(24);
    line-height: em(30, 24);
  }
}
